@{
    ViewData["Title"] = "¿Quiénes somos?";
}
<h2>@ViewData["Title"]</h2>


<div class="jumbotron">
    <h1 class="display-4">Somo tu solución!!!!</h1>
    <p class="lead">Somos una empresa dedicada al desarrollo de Software y mucho más para tu empresa.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Index","Home")" role="button">Inicio</a>
</div>
