@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<div class="jumbotron">
    <h1 class="display-4">Gracias por tu comentario!!!!</h1>
    <p class="lead">Con tu aporte podemos mejorar diaa a día la calidad de nuestros servicios.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Index","Home")" role="button">Inicio</a>
</div>